# Assignment solutions
Week 3/Assignment 1/Solution/
Week 5/Assignment 2/Solution/
Week 7/Assignment 3/Solution/
Week 8/Assignment 4/Solution/

# Permanent ignores
*node_modules/
*package-lock.json
*.DS_Store
Videos/